@font-face {
  font-family: 'DIN Pro';
  src:
  url('../fonts/DIN/DINPro.woff') format('woff'),
  url('../fonts/DIN/DINPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
  
@font-face {
  font-family: 'DIN Pro - Medium';
  src:
  url('../fonts/DIN/DINPro-Medium.woff') format('woff'),
  url('../fonts/DIN/DINPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }