.container
  margin: auto
  width: 94%
  max-width: 1364px
.row
  display: flex
  justify-content: space-between
  align-items: center
.col-32
  flex-basis: 32%
.col-23-4
  flex-basis: 23.4%
  height: 100%
.col-73-6
  flex-basis: 73-6%
