.swiper
  &-button-prev, &-button-next
    font-size: 35px
    color: white
    background-color: $mainBlack
    padding: 1px 20px 1px 22px
    border: 1px solid $mainBlack
    &::after
      display: none
  &-button-disabled
    color: $disabled
    background-color: transparent
    border: 1px solid $disabled
.section
  &-title
    display: flex
    align-items: center
    justify-content: center
    padding-bottom: 2.2rem
    &--bordered
  &-header
    position: relative
    display: inline-block
    margin: 0
    padding: 2.4rem 4.1rem
    text-align: center
    &--bordered
      border: 2px solid $mainBlack
      font-size: 1.74rem
      font-weight: normal
      // &::before
      //   content: ''
      //   position: absolute
      //   right: 0rem
      //   // bottom: 50%
      //   height: 2px
      //   width: 322px
      //   // width: 50%
      //   background: url(../img/fade-right-black.svg) center no-repeat 
      i
        font-size: 1.2rem
        padding-left: 0.8rem
    &__bold-word
      font-weight: 700
      font-family: "DIN Pro - Bold", sans-serif

.button
  padding: 12px 27px 13px
  font-size: 1rem
  font-family: 'DIN Pro - Medium', sans-serif
  font-weight: 500
  border: 2px solid $mainBlack
  word-spacing: 0.75rem
  &--outline
    background-color: transparent
    color: $mainBlack

