.swiper
  &-button-prev, &-button-next
    font-size: 35px
    color: white
    background-color: $mainBlack
    padding: 1px 20px 1px 22px
    border: 1px solid $mainBlack
    &::after
      display: none
  &-button-disabled
    color: $disabled
    background-color: transparent
    border: 1px solid $disabled
.section
  &-title
    position: relative
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 2.2rem
    overflow: hidden
    &--bordered
  &-header
    position: relative
    display: inline-block
    margin: 0
    padding: 2.4rem 4.1rem
    text-align: center
    font-size: 2.57rem
    font-family: "DIN Pro - Light", sans-serif
    font-weight: 300
    text-decoration: none
    color: $mainBlack
    &::before
      content: ''
      position: absolute
      left: -470px
      bottom: 40%
      height: 10px
      width: 470px
      background: url(../img/fade-left.svg) center no-repeat 
    &::after
      content: ''
      position: absolute
      right: -470px
      bottom: 40%
      height: 10px
      width: 470px
      background: url(../img/fade-right.svg) center no-repeat 
    &--bordered
      border: 2px solid $mainBlack
      font-size: 1.74rem
      font-weight: normal
      cursor: pointer
      &::before
        content: ''
        position: absolute
        left: -322px
        bottom: 50%
        height: 2px
        width: 322px
        background: url(../img/fade-left-black.svg) center no-repeat 
      &::after
        content: ''
        position: absolute
        right: -322px
        bottom: 50%
        height: 2px
        width: 322px
        background: url(../img/fade-right-black.svg) center no-repeat 
      i
        font-size: 1.2rem
        padding-left: 0.8rem
    &__bold-word
      font-weight: 700
      font-family: "DIN Pro - Bold", sans-serif
  i
    // padding-left: 0.8rem



button
  outline: none

.button
  padding: 12px 27px 13px
  font-size: 1rem
  font-family: 'DIN Pro - Medium', sans-serif
  font-weight: 500
  border: 2px solid $mainBlack
  // word-spacing: 0.75rem
  text-align: center
  text-decoration: none
  &--outline
    background-color: transparent
    color: $mainBlack
  &__icon
    margin-left: 0.75rem

.card
  width: 100%
  height: 100%
  &__image
    position: relative
    background-color: $grey
    width: 100%
    // height: 57%
    max-height: 320px
    display: flex
    justify-content: center
    align-items: center
    &-hover
      position: absolute
      display: none
      justify-content: flex-end
      align-items: flex-start
      padding: 1.42rem
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: rgba(#000000, 0.6)
    &-icons
      position: relative
      display: flex
      flex-direction: column
      font-size: 20px
      z-index: 3
      color: $light
      text-decoration: none
    &-icon
      cursor: pointer
      &:first-child
        margin-bottom: 18px
  &__info-container
    display: flex
    flex-direction: column
    align-items: flex-start
    // height: 25%
    max-height: 126px
    padding: 6%
    padding-bottom: 9%
    border-bottom: 1px solid $darkGrey
    margin-top: 0.45rem
  &__item
    &-name
      margin: 0
      font-size: 1.29rem
      font-weight: normal
    &-category
      margin-top: 0.6rem
      color: $disabled
      font-family: "DIN Pro - Light", sans-serif
      font-weight: 300
  &__rating
    margin-top: 1.3rem
    font-size: 14px
    word-spacing: 0.12rem
  &__star
    &-rated
      color: $orange
    &-unrated
      color: $disabled
  &__price-container
    padding: 6%
    padding-top: 7.8%
    // height: 20%
  &__price
    display: flex
    justify-content: space-between
    align-items: center
    text-decoration: none
    color: $mainBlack
    font-size: 2.14rem
    &-number
      font-weight: 400
    &-value
      font-size: 1.24rem
      margin-top: 0.55rem
      margin-right: auto
      margin-left: 0.25rem
  &__plus-icon
    color: $darkGrey
    font-size: 1.8rem
    display: flex
    align-items: center
