@media screen and ( min-width: 992px ) // HOVER EFFECTS
  .header-partners
    &__link
      &:hover
        opacity: 1
    &__login
      &:hover
        text-decoration: underline
    &__android-icon
      &:hover
        opacity: 1
  .menu
    &__item
      &:hover
        color: $orange
        border-bottom: 1px solid $orange
  .hero
    &__social
      &-link
        &:hover
          color: $mainBlack
    &__button
      &:hover
        background-color: $orange
      &-next, &-prev
        &:hover
          background-color: $orange
          border-color: $orange
  .button
    &--outline
      &:hover
        background-color: $mainBlack
        color: $light
  .categories
    &__link
      &:hover
        background-color: $orange
        color: $light
  .card
    &__price
      &:hover
        .card__plus-icon
          color: $mainBlack
    &__image
      &:hover
        .card__image-hover
          display: flex
      &-icon
        &:hover
          color: $orange
  .banner
    &__button
      &:hover
        background-color: $light
        color: $orange
  .platforms
    &__item-link
      &:hover
        .platforms__item-name
          color: $orange
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .hero
    &__item
      &-text
        order: -1
        margin-left: -15rem
  .timer
    font-size: 12px
  .banner
    &__header
      font-size: 4rem
@media screen and ( max-width: 991px )
  .row
    flex-direction: column
    align-items: center
  .section
    &-header
      padding: 2.4rem 1rem
  .menu
    &__flag
      min-height: 60px
      &:first-of-type
        margin-left: auto
  .hero
    &__row
      align-items: start
    &__text
      margin-bottom: 0
    &__item
      margin-left: 0
      margin: auto
      overflow-x: hidden
      &-text
        margin-left: 0
        margin-right: -5rem
        align-self: flex-start
        margin-top: 3rem
      &-description
        width: 12.8rem
    &__button
      &::after
        display: none
    &__social
      bottom: auto
      top: 30px
  .approved
    &__card
      margin-bottom: 3rem
  .categories
    &__row
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
  .popular
    &__row
      height: auto
    // &__col
    //   flex-basis: auto
    //   width: 50%
    //   margin-bottom: 4rem
  .card
    margin-bottom: 3rem
    &__image
      min-height: 320px
  .timer
    font-size: 8px
  .banner
    &__header
      font-size: 3rem
      line-height: 5rem
    &__text
      margin-top: 0
      font-size: 1.8rem
@media screen and ( max-width: 870px )
  .header-partners
    &__links
      display: none
    &__android-icon
      display: none
  .menu
    &__nav
      display: none
@media screen and ( max-width: 767px )
  .timer
    font-size: 6px
  .banner
    &__content
      align-self: center
    &__header
      margin-top: 0
      font-size: 2.5rem
      line-height: 3.5rem
    &__text
      font-size: 1.5rem
    &__image
      // align-self: flex-end
      // width: 50%
      img
        object-fit: cover
@media screen and ( max-width: 576px )
  .hero
    &__title
      font-size: 1.8rem
      max-width: 25rem
    &__button
      &-prev, &-next
        bottom: 70px
  .approved
    &__card
      padding-right: 7%
  .timer
    display: none
  .banner
    display: none
@media screen and ( max-width: 480px )
  .platforms
    &__item-link
      align-self: center
    &__item-name
      align-self: center

