@media screen and ( min-width: 992px )
  .header-partners
    &__link
      &:hover
        opacity: 1
    &__login
      &:hover
        text-decoration: underline
    &__android-icon
      &:hover
        opacity: 1
  .menu
    &__item
      &:hover
        color: $orange
        border-bottom: 1px solid $orange
  .hero
    &__social
      &-link
        &:hover
          color: $mainBlack