@media screen and ( min-width: 992px ) // HOVER EFFECTS
  .header-partners
    &__link
      &:hover
        opacity: 1
    &__login
      &:hover
        text-decoration: underline
    &__android-icon
      &:hover
        opacity: 1
  .menu
    &__item
      &:hover
        color: $orange
        border-bottom: 1px solid $orange
  .hero
    &__social
      &-link
        &:hover
          color: $mainBlack
    &__button
      &:hover
        background-color: $orange
      &-next, &-prev
        &:hover
          background-color: $orange
          border-color: $orange
  .button
    &--outline
      &:hover
        background-color: $mainBlack
        color: $light
  .categories
    &__link
      &:hover
        background-color: $orange
        color: $light
  .card
    &__price
      &:hover
        .card__plus-icon
          color: $mainBlack
    &__image
      &:hover
        .card__image-hover
          display: flex
        //   z-index: 1
        // .card
        //   opacity: 0,8
        //   background-color: $000000
        //   z-index: 5
      &-icon
        &:hover
          color: $orange
  .banner
    &__button
      &:hover
        background-color: $light
        color: $orange
  .platforms
    &__item-link
      &:hover
        .platforms__item-name
          color: $orange
  .footer
    &__social
      &-link
        &:hover
          color: $mainBlack
    &__list-link
      &:hover
        color: $mainBlack
    &__tel
      &:hover
        text-decoration: underline
  .footer-copyright
    &__error
      &:hover
        color: $light
  .paging
    &__page
      &:hover
        color: $orange
        border-color: $orange
      &--disabled
        &:hover
          color: inherit
          border-color: lighten($mainBlack, 70%)
      &--full
        &:hover
          color: $light
          background-color: darken($orange, 8%)
          border-color: darken($orange, 8%)
  .item
    &__button
      &:hover
        border-color: $orange
        color: $light
        background-color: $orange
    &__social-link
      &:hover
        color: $mainBlack
@media screen and ( max-width: 1420px )
  .item
    &__delivery
      &-type
        &-tabs
          height: 200px
      &-point
        margin-bottom: 1rem
      &-tab
        &-content
          justify-content: space-around
@media screen and ( max-width: 1360px )
  .item__button
    // flex-basis: 50%
    width: 50%
    margin: auto
    margin-bottom: 1rem
    text-align: center
    min-width: 236px
    &-wrapper
      flex-direction: column
      align-items: center
  .item
    &__more
      &-seen
        &-card
          &-name
            font-size: 0.97rem
          &-price
            font-size: 1.4rem
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .hero
    &__item
      &-text
        order: -1
        margin-left: -15rem
  .timer
    font-size: 12px
  .banner
    &__header
      font-size: 4rem
@media screen and ( max-width: 991px )
  .row
    flex-direction: column
    align-items: center
  .section
    &-header
      padding: 2.4rem 1rem
  .menu
    &__flag
      min-height: 60px
      &:first-of-type
        margin-left: auto
  .hero
    &__row
      align-items: start
    &__text
      margin-bottom: 0
    &__item
      margin-left: 0
      margin: auto
      overflow-x: hidden
      // padding-bottom: 10rem
      flex-direction: column-reverse
      &-text
        margin-left: 0
        margin-right: -5rem
        align-self: flex-start
        margin-top: 3rem
        // margin-bottom: -8rem
      &-description
        width: 12.8rem
    &__button
      &::after
        display: none
      &-next
        left: 70%
        bottom: 45px
      &-prev
        left: calc( 70% - 50px )
        bottom: 45px
    &__social
      bottom: auto
      top: 30px
  .approved
    &__card
      margin-bottom: 3rem
  .categories
    &__row
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
  .popular
    &__row
      height: auto
    // &__col
    //   flex-basis: auto
    //   width: 50%
    //   margin-bottom: 4rem
  .card
    margin-bottom: 3rem
    // &__image
    //   min-height: 320px
  .timer
    font-size: 8px
  .banner
    &__header
      font-size: 3rem
      line-height: 5rem
    &__text
      margin-top: 0
      font-size: 1.8rem
  .item
    &__photo-col
      width: 70%
      text-align: center
    &__buy-col
      width: 90%
    &__row
      align-items: center
    &__color
      &-wrapper
        flex-wrap: wrap
        justify-content: space-around
    &__more
      &-seen
        &-row
          display: flex
          justify-content: space-between
          flex-wrap: wrap
        &-col
          margin-top: 2rem
          width: 90%
        &-title
          width: 100%
        &-card
          flex-direction: column
          flex-basis: 30%
          border: none
          &-img
            max-width: 100%
            max-height: 100%
            margin-right: 0
            margin-bottom: 2rem
        
@media screen and ( max-width: 870px )
  .header-partners
    &__burger
      &-link
        margin-left: auto
        display: inline-block
    &__links
      transform-origin: top center
      transform: scaleY(0)
      position: absolute
      opacity: 0
      visibility: hidden
      display: none
      display: flex
      top: 38px
      right: 0px
      flex-direction: column
      padding: 0 0
      background-color: lighten($mainBlack, 25%)
      border-radius: 2px
      z-index: 12
      &--active
        display: flex
        transform: scaleY(1)
        visibility: visible
        opacity: 1
        transition: 0.5s
    &__link
      border: 0
      padding: 10px 15px
      background-color: lighten($mainBlack, 25%)
      border-top: 1px solid $light
      color: $light
      opacity: 1
      font-size: 1.2rem
      &:hover
        background-color: $orange
    &__android-icon
      display: none
    &__login
      margin-left: 20px
  .menu
    &__nav
      // display: flex
      flex-direction: column
      display: none
      right: -56px
      top: 0
      width: 40%
      min-width: 190px
      position: absolute
      background-color: lighten($mainBlack, 25%)
      z-index: 3
      border-radius: 5px
      transition: 0.7s
      transform: translateX(110%)
      &--active
        transform: translateX(0)
        transition: 0.7s
        display: flex
    &__item
      width: 100%
      text-align: center
      border-bottom: 1px solid $light
      color: $light
      &:hover
        background-color: $orange
      &:nth-of-type(6)        
        border-bottom: none
    &__search
      display: none
    &__flag
      display: none
    &__burger
      display: block
      &--active
        transform:
    &__dropdown
      &-list
        right: 70%
        top: 0
  .col-31
    flex-basis: 46%
  .catalog
    &__items-row
      justify-content: space-around
@media screen and ( max-width: 767px )
  .timer
    font-size: 6px
  .banner
    &__content
      align-self: center
    &__header
      margin-top: 0
      font-size: 2.5rem
      line-height: 3.5rem
    &__text
      font-size: 1.5rem
    &__image
      // align-self: flex-end
      // width: 50%
      img
        object-fit: cover
  .footer
    &__col
      &:nth-of-type(1)
        flex-basis: 48%
      &:nth-of-type(2)
        display: none
      &:nth-of-type(3)
        display: none
      &:nth-of-type(4)
        flex-basis: 48%
  .catalog
    &__path
      display: none
    &__categories
      display: none
    &__title
      margin-bottom: 2rem
      width: 180px
      display: none
    &__row
      justify-content: space-around
    &__sort
      margin-left: 0
      &-category
        display: flex
    &__filters
      margin-bottom: 3rem
    &__title-mobile
      display: block
  .col-74-4
    flex-basis: 95%
  .item
    &__photo-col
      width: 100%
    &__color
      width: 112px
      &-title
        width: 100%
        margin-bottom: 1rem
        text-align: center
    &__info
      &-wrapper
        justify-content: space-around
      &-in-bag
        display: none
      &-in-favorite
        display: none
@media screen and ( max-width: 576px )
  .hero
    &__title
      font-size: 1.8rem
      max-width: 25rem
    // &__button
    //   &-prev, &-next
    //     bottom: 70px
  .approved
    &__card
      padding-right: 7%
  .timer
    display: none
  .banner
    display: none
  .col-31
    flex-basis: 90%
    align-items: center
  .catalog
    &__items-row
      justify-content: space-around
    &__sort
      width: 100%
      margin-bottom: 1rem
  .row--aligned-up
    flex-direction: column
  .item
    &__path
      display: none
    &__views
      display: none
    &__delivery
      &-tab
        &-title
          margin-right: 1rem
          padding-left: 2.5rem
          padding-right: 1rem
        &-content
          padding-left: 0
          padding-right: 0
@media screen and ( max-width: 480px )
  .platforms
    &__item-link
      align-self: center
    &__item-name
      align-self: center
  .footer
    &__col
      &:nth-of-type(1)
        display: none
      &:nth-of-type(4)
        flex-basis: 90%
        align-items: center
  .paging__page
    &:nth-of-type(3)
      display: none
    &:nth-of-type(4)
      display: none
  .item
    &__characteristics
      &-param
        font-size: 1.1rem
        flex-basis: auto
      &-value
        font-size: 1.1rem
        flex-basis: auto
    &__more
      &-seen
        &-card
          flex-basis: 45%
          &:nth-of-type(2)
            display: none
