*, *:before, *:after 
  box-sizing: border-box
html
  font-size: 14px
body 
  font-family: "DIN Pro", sans-serif
  font-size: 1rem
  background-color: $grey
img
  max-width: 100%
.fas
  padding-left: 0.25rem