.timer
  padding-top: 4.2rem
  padding-bottom: 2rem
  background-color: $light
  font-size: 14px
  &__section-title
    margin-bottom: 0.4rem
  &__clock
    display: flex
    justify-content: space-around
    align-items: center
    padding-left: 2.4em
    padding-right: 2.4em
  &__days
    padding: 4px
    border: 2px dashed $disabled
    border-radius: 50%
  &__number
    max-width: 14.14em
    max-height: 14.14em
    width: 100%
    height: 100%
    padding: 4.71em
    border: 5px solid $orange
    border-radius: 50%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__text
    margin-top: 0.714em
    font-family: "DIN Pro - Light", sans-serif
    font-size: 2.142em
    font-weight: 300
  &__counter
    margin-bottom: 25%
    font-family: "DIN Pro - Bold", sans-serif
    font-size: 5.142em
    color: $orange
    font-weight: 700
  &__cross
    width: 4.14em

